@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


* {
	margin: 0;
	padding: 0;
}

.sidebar {
    position: absolute;
	background-color: black;
	color: white;

	transition: transform 0.3s ease-in;
}

.sidebar nav {
	padding: 45px;
	height: 100vh;
}

.sidebar nav li {
	list-style: none;
	font-size: 25px;
	padding: 30px 0;
}

.sidebar nav li a{
	text-decoration: none;
	color: white;
}

.sidebar nav li a:hover{
	text-decoration: underline;
	color: beige;
}

.main {
	/*background-color: whitesmoke;*/
	width: 90vw;
}

.container {
	display: flex;
	font-family: 'Mukta', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

.contactform {
    text-align: center;
    padding: 50px;
    margin: 0px 80px;
    
}

.contactform h1 {
    font-size: 36px;
    margin: 10px 0;
}

.contactform p {
    font-size: 18px;
    margin: 20px 0;
}
form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    height: 150px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.sidebargo {
	transform: translate(-443px, 0px);
	position: absolute;

}


.icons {
	position: absolute;
	cursor: pointer;
	top: 10px;
	left: 10px;
}

.cross {
	margin-left: 160px;
	margin-top: 5px;
}

@media (max-width: 1615px) {

	.devpic {
		display: none;
	}
}