@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

.sidebar {
	position: absolute;
	background-color: black;
	color: white;

	transition: transform 0.3s ease-in;
}

.sidebar nav {
	padding: 45px;
	height: 100vh;
}

.sidebar nav li {
	list-style: none;
	font-size: 25px;
	padding: 30px 0;
}

.sidebar nav li a{
	text-decoration: none;
	color: white;
}

.sidebar nav li a:hover{
	text-decoration: underline;
	color: beige;
}

.main {
	/*background-color: whitesmoke;*/
	width: 90vw;
}

.container {
	display: flex;
	font-family: 'Mukta', sans-serif;
}



.introduction {
    text-align: center;
    padding: 50px;
}

.introduction h1 {
    font-size: 36px;
    margin: 10px 0;
}

.introduction p {
    font-size: 18px;
    margin: 20px 0;
    margin-right: 190px;
   
}

.buttons {
    margin-top: 20px;
}

.github-button, .linkedin-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.github-button:hover, .linkedin-button:hover {
    background-color: #555;
}


.sidebargo {
	transform: translate(-443px, 0px);
	position: absolute;

}


.icons {
	position: absolute;
	cursor: pointer;
	top: 10px;
	left: 10px;
}

.cross {
	margin-left: 160px;
	margin-top: 5px;
}